<h2><%= @name.capitalize %></h2>

<p>Email: <%= @email %></p>

<p>Interests: <%= @interests %></p>

<p>Other users:
<% @other_names.each do |name| %>
  <a href="/users/<%= name %>"><%= name.capitalize %></a>
<% end %>
</p>