<ul>
  <% @files.each do |file| %>
    <li>
      <form class="inline" action="/<%= file %>/delete" method="post"> 
        <a href="/<%= file %>"><%= file %></a> 
        <a href="/<%= file %>/edit">Edit</a>
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:username] %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status">
    <a href="/users/signin">Sign In</a>
  </p>
<% end %>